<section class="h-100 bg-dark">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid" alt="Sample image">
                        </div>
                        <div class="col-xl-6">
                            <div class="card-body p-md-5 text-black">
                                <h3 class="mb-5 text-uppercase">Registration form</h3>

                                <form [formGroup]="signup" (ngSubmit)="onSubmit()">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input formControlName="userName" type="text" id="form3Example1" class="form-control form-control-lg" />
                                            <label class="form-label" for="form3Example1">User name</label>
                                            <div class="form-text text-danger" *ngIf="userName.errors?.['required'] && (userName.touched || userName.dirty) ">
                                                User name is required
                                            </div>
                                            <div class="form-text text-danger" *ngIf="userName.errors?.['minlength'] && (userName.touched || userName.dirty) ">
                                                User name must be at least 6 characters long
                                            </div>
                                            <div class="form-text text-danger" *ngIf="userName.errors?.['maxlength'] && (userName.touched || userName.dirty) ">
                                                User name maximum length must be at least 25 characters long
                                            </div>

                                        </div>
                                    </div>


                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input formControlName="email" type="email" id="form3Example2" class="form-control form-control-lg" />
                                            <label class="form-label" for="form3Example2">Your Email</label>
                                            <div class="form-text text-danger" *ngIf="email.errors?.['required'] && (email.touched || email.dirty)">
                                                Email is required
                                            </div>
                                            <div class="form-text text-danger" *ngIf="email.errors?.['email'] && (email.touched|| email.dirty)">
                                                Please Enter a valid email address
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input formControlName="password" type="password" id="form3Example3" class="form-control" [type]="fieldTextType ? 'text' : 'password'" />
                                            <label class="form-label" for="form3Example3">Password</label>
                                            <div class="form-text text-danger" *ngIf="password.errors?.['required'] && (password.touched || password.dirty)">
                                                password must be required
                                            </div>

                                            <div class="form-text text-danger" *ngIf="password.errors?.['minlength'] || password.errors?.['maxlength'] && (password.touched || password.dirty)">
                                                password should be minimum 8-15 uppercase lowercase special character number.
                                            </div>
                                            <div class="form-text text-danger" *ngIf="password.errors?.['pattern'] && (password.touched || password.dirty)">
                                                (Example : Johns@123).
                                            </div>
                                        </div>

                                        <span>
                                        <i
                                          class="fa"
                                          [ngClass]="{
                                            'fa-eye-slash': !fieldTextType,
                                            'fa-eye': fieldTextType
                                          }"
                                          (click)="toggleFieldTextType()"
                                        ></i>
                                      </span>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fa fa-file-text fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input formControlName="about" type="text" id="form3Example4" class="form-control" />
                                            <label class="form-label" for="form3Example4">Your about</label>
                                            <div class="form-text text-danger" *ngIf="about.errors?.['required'] && (about.touched || about.dirty)">
                                                About must be required
                                            </div>
                                            <div class="form-text text-danger" *ngIf="about.errors?.['maxlength'] && (about.touched || about.dirty) ">
                                                About maximum length must be at least 255 characters long
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-check d-flex justify-content-center mb-5">
                                        <input formControlName="acceptTerms" class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                                        <label class="form-check-label" for="form2Example3">
                                            I agree all statements in <a href="#!">Terms of service</a>
                                        </label>
                                    </div>
                                    <div class="d-flex justify-content-end pt-3">
                                        <button type="reset" class="btn btn-danger btn-lg">Reset all</button>
                                        <button type="submit" class="btn btn-success btn-lg ms-2" (click)="ngOnInit()">Submit form</button>
                                    </div>
                                    <!-- [disabled]="!signup.valid" -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>