<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Blog Application</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fas fa-bars"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="signup">Sign-Up</a>
                </li>

                <li class="nav-item" *ngIf="!loggedIn">
                    <a href="#" class="nav-link">Log-IN</a>
                </li>

            </ul>
            <ul class="navbar-nav d-flex flex-row me-5" *ngIf="loggedIn">
                <div class="btn-group dropleft">
                    <li class="nav-item dropdown nav-item me-3 me-lg-0">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person">&nbsp;User  Profile</i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">My account</a></li>
                            <li>
                                <a class="dropdown-item" href="#"></a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Log out</a></li>
                        </ul>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>